.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name, .arena___critical-block {
  color: black;
  text-align: center;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #ebd759;
}

.arena-modal___over {
  height: 400px;
  text-align: center;
  font-size: 20px;
  font-family: 'Arial Black';
  font-weight: 400;
}

.animate {
  position: relative;
  animation: anim-move 2s ease;
  animation-fill-mode: backwards;
}

.animate-right {
  position: relative;
  animation: anim-move-right 2s ease;
  animation-fill-mode: backwards;
}

.punch {
  background-color: #ffcccc;
}

@keyframes anim-move {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 40%;
  }
}

@keyframes anim-move-right {
  from {
    margin-right: 0;
  }

  to {
    margin-right: 40%;
  }
}