.fighter-preview___root {
  display: flex;
  flex-basis: 285px;
}

.fighter-preview___right,
.fighter-preview___left {
  align-items: center;
}

.fighter-preview___right>.fighters___fighter {
  transform: scaleX(-1);
  order: 1
}

.fighter-preview__info {
  display: flex;
  flex-direction: column;
}

.fighter-preview___modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 270px;
  height: 100px;
  margin: 0 auto;
}

.preview-modal___stats {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.preview-modal-stats___span {
  width: 100px;
  font-size: 16px;
}

.modal-stats___inputs {
  align-items: flex-end;
}

.preview-modal-stats___input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 1rem;
  width: 35%;
  font-size: 16px;
  padding: 0;
}

.fighter-preview-modal___stats-btn {
  border-radius: 2px;
  display: inline-block;
  height: 38px;
  line-height: 12px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  border: none;
}